[Desktop Entry]
Name=QTerminal
Comment=Qt based terminal emulator
Exec=qterminal --geometry 120x35
Icon=qterminal
Terminal=false
Type=Application
Categories=Utility;TerminalEmulator;
